body {
    margin: 0;
    padding: 0;
};

.div1, .div2 {
    height: 200px;
    width: 40%;
    display: inline-block;
};

.div1 {
    background-color: purple;
    border: 5px dotted orange;
    margin-right: 300px;
    margin-left: 20px;
};

.div2 {
    background-color: yellow;
    border: 5px dashed orange;
    margin-left: auto;
};

.div3 {
    height: 300px;
    background-color: blue;
    text-align: center;
    border: 10px solid black;
    color: firebrick;
    font-size: 50px;
};
